<div class="container home">

<div class="flex-grid">
  <div class="col">
<div id="anthology-landing">
	<h2 class="superbowl-title">SUPER BOWL ANTHOLOGY</h2>
	<img class="superbowl-50" alt="Super Bowl 50" src="http://nflcdns.nfl.com/static/content/public/static/img/anthology/sb50-logo.png">
	<div class="choose-bowl" >CHOOSE A SUPER BOWL</div>
	<div class="release-arrow-container">
		<div class="release-arrow"></div>
	</div>
	<div>

		<div class="match-row">
			<div></div>
			<div class="match-link-container" ng-repeat="match in superbowlMatches.superBowls">
				<!-- <div class="match-row-divider" ng-show="$index % 5 == 2 && $index > 5"></div> -->
				<div class="match-row-divider" ng-show="$index > 4"></div>
				<match-roman-numeral></match-roman-numeral>
			</div>
		</div>


		<!-- <div class="match-row-divider" ng-if="$index % 5 == 0"></div> -->


<!-- 		<div class="match-row">
			<div class="match-row-divider"></div>
			<div>

			</div>
		</div> -->
	</div>
</div>
  </div>
</div>

</div>