<div>
	<div>
	  	<p class="article-content" ng-show="isVisible">
	    	<b class="bolded-first-text" ng-show="{{text[0].intro}}">{{text[0].intro}}</b>
	    	{{text[0].text}}
	  	</p>
		<p class="article-content" ng-hide="isVisible" ng-repeat="paragraph in text">
			<b class="bolded-first-text" ng-show="{{paragraph.intro != '' && paragraph.intro.length > 1}}">{{paragraph.intro}}</b>
			{{paragraph.text}}
		</p>
	</div>
	<button class="read-more" id="readMoreButton" ng-click="showHide()"><span class="read-more-text">read more...</span></button>
</div>
