<div class="my-superbowl article" id="my-superbowl" tabindex="-1">
	<div class="article-header">
		<!-- <button class="collapse-text-button collapse" ng-show="!isVisible" ng-click="showHide()">X</button> -->
		<button class="collapse-text-button-absolute collapse" ng-show="!isVisible" ng-click="showHide()">X</button>
	  	<h2>
	    	{{title}}
	    	<div class="gold-bottom-border"></div>
	  	</h2>
	</div>
	<game-article-content text="text" is-visible="isVisible" show-hide="showHide()"></game-article-content>
</div>
